extends template

block menu
	+createMenu(2)

block content
	.main-block 
		.content3
			.img1 
				img(src='img/css1.jpg')
			.img2
				img(src='img/html.jpg')
			.txt3 
				p. 
					CSS (Cascading Style Sheets, каскадные таблицы стилей) — 
					язык описания внешнего вида HTML-документа. Это одна из базовых 
					технологий в современном интернете. Практически ни один сайт не 
					обходится без CSS, поэтому HTML и CSS действуют в единой связке.
			.txt4 
				p.
					На языке HTML мы создаем размеченный текст — документ с гиперссылками, 
					таблицами, маркированными списками, разными начертаниями шрифтов, 
					заголовками, подзаголовками и так далее. Получаем «простыню» текста 
					с таблицами и иллюстрациями. Интернет изобрели ученые, и для них 
					такое положение вещей было приемлемым. Но все изменилось, когда 
					WWW пошел в массы и свои странички начали создавать простые 
					пользователи, которые хотели индивидуальности и самовыражения, 
					а также коммерческие компании со своими корпоративными стандартами 
					оформления. В общем, веб-страницам понадобилось индивидуальное 
					оформление: стиль.
			.txt5 
				p.
					Селектор идентификатора позволяет форматировать один конкретный элемент. 
					Значение id должно быть уникальным, на одной странице может встречаться 
					только один раз и должно содержать хотя бы один символ. Значение не должно 
					содержать пробелов.
					Нет никаких других ограничений на то, 
					какую форму может принимать id, в частности, идентификаторы могут 
					состоять только из цифр, начинаться с цифры, начинаться с подчеркивания, 
					состоять только из знаков препинания и т. д.